#calculator {
  background:
    url('https://www.transparenttextures.com/patterns/wood.png'), /* Wood texture */
    #6d4427; /* Wood-like brown color */
  border: 2px solid #ff990054;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 300px;
}
